[submodule "submodules/42.libft"]
	path = submodules/42.libft
	url = git@github.com:LolelsayFR/42.libft.git
[submodule "submodules/MLX42"]
	path = submodules/MLX42
	url = https://github.com/codam-coding-college/MLX42
[submodule "submodules/minilibx-linux"]
	path = submodules/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux
